@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Mulish", sans-serif;
    box-sizing: border-box;
}

/* ----shared Section------ */
header{
    width: 88%;
    height: fit-content;
    border: 1px solid red;
    margin: 0 auto;
}
.head-name{
    color: black;
    font-size: 1.2rem;
    font-weight: 800;
    width: 30%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.head-name .fa-road{
    margin-top: 3px;
    text-align: center;
    font-size: 1.6rem;
    color: rgb(255, 84, 0);
}
 span{
    color: rgb(255, 84, 0);
}

.para{
    color: rgba(19, 19, 24, 0.8);
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
}


.black{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%);
}

.btn{
    background-color: rgb(255, 84, 0);
    color: #fff;
    font-size: 13px;
    padding: 6px 20px;
    border-radius: 8px;
    border: 0;
    font-weight: 700;
}
.btn:hover{
    background-color: rgba(245, 122, 60, 0.932);
    transition: 0.3s;
}

.head-main{
    width: 50%;
    height: fit-content;
    margin: 0 auto;
    text-align: center;
}

.head-main > h2{
    color: rgb(19, 19, 24);
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 10px;
}


/* shared section finished------------- */

/* -------header section--------- */
header .head{
    display: flex;
    justify-content: space-between;
    width: 86%;
    height: fit-content;
    margin: 0 auto;
}

header .head ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
}
header .head ul li{
    list-style: none;
  
}

header .head ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
header .head ul li a:hover{
    color: rgb(255, 84, 0);
    font-weight: 600;
    transition: 0.3s;
}


.hero-img{
    width: 100%;
    height: fit-content;
    margin-top: 2rem;
    position: relative;
    z-index: 1;
}
.hero-img img{
    width: 100%;
    height: fit-content;
}

.hero-img .hero-head{
    width: 50%;
    height: fit-content;
    padding: 8px 12px;
    position: absolute;
    margin: 0 auto;
    top: 100px;
    left: 300px;
    text-align: center;
    color: #fff;
    z-index: 10;
}

header .hero-img .hero-head h1{
    font-size: 2.4rem;
    font-weight: 800;
    margin-bottom: 10px;
}

header .hero-img .hero-head p{
    font-size: 0.7rem;
    font-weight: 500;
    color: #ffffffc0;
}

header .hero-img .hero-head .select{
   width: 100%;
   height: fit-content;
   padding: 10px;
   border-radius: 8px;
   background: rgba(255, 255, 255, 0.3);
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 16px;
   margin-top: 18px;
}

header .hero-img .hero-head .select input{
   width: 125px;
   height: 30px;
   padding: 10px 12px;
   border-radius: 6px;
   border: 0;
   outline: 0;
}

header .hero-img .hero-head .select placeholder{
   font-size: 4px;
}


/* section-01--------------------- */
.section-01{
    width: 86%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin: 3rem auto;
    text-align: left;
    gap: 30px;
}

.section-01 .info-01{
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.section-01 .info-01 h2{
   font-size: 1.8rem;
   font-weight: 800;
}

.section-01 .info-02{
   width: 42%;
   height: 320px;
}

.section-01 .info-02 img{
   width: 100%;
   height: 100%;
}

/* ------------section-02----------------- */

.section-02{
    width: 86%;
    height: fit-content;
    margin: 0 auto;
}
.section-02 .grid{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 16px; 
   margin-top: 50px;
   margin-bottom: 30px;
}

.section-02 .grid .grid-imgs{
   width: 99%;
   height: 250px;
   position: relative;
   z-index: -1;
}

.section-02 .grid .grid-imgs h2{
   position: absolute;
   z-index: 10;
   top: 50px;
   color: #fff;
   left: 120px; 
   font-size: 1.4rem;
   text-align: center;
}
.section-02 .grid .grid-imgs img:hover{
   transform: scale(1.05);
   transition: 0.3s;
}

.section-02 .grid .grid-imgs img{
   width: 99%;
   height: 250px;
   z-index: 15;
}

/* ------------section-02----------------- finished */

/* ------------section-03----------------- */
.section-03{
    width: 86%;
    height: fit-content;
    margin: 50px auto;
}

.section-03 .grid-02{
    width: 100%;
    height: fit-content;
    gap: 25px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    margin-top: 30px;
  
}
.section-03 .grid-02 .grid-item{
   width: 95%;
   height: 240px;
   padding: 30px;
   border-radius: 16px;
   display: flex;
   justify-content: left;
   flex-direction: column;
   gap: 15px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.section-03 .grid-02 .grid-item:hover{
    background-color: rgba(41, 246, 127, 0.185);
    transition: 0.4s;
}

.section-03 .grid-02 .grid-item .fa-house ,.fa-house-user , .fa-house-fire{
    font-size: 2rem;
    color: rgb(255, 84, 0);
}

.section-03 .color-03{
    background-color: rgba(251, 180, 99, 0.144);
}
.section-03 .color-02{
    background-color: rgba(41, 205, 246, 0.185);
    margin-left: 300px;
}
.section-03 .color-01{
    background-color: rgba(233, 68, 68, 0.151);
}


/* ------------section-02----------------- finished */


/* ------------section-04----------------- */

.section-04{
    width: 86%;
    height: fit-content;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.section-04 .img3{
    width: 100%;
    height: 320px;
    background-image: url(images/grp39.png);
    border-radius: 16px;
    display: flex;
    justify-content: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.section-04 .two{
    width: 100%;
    height: 320px;
    background-image: url(images/grp40.png);
    border-radius: 16px;
    display: flex;
    justify-content: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-04 .img3 .inner{
    width: 35%;
    height: 270px;
    background-color:  rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px 30px;
    text-align: left;
    margin-right: 30px;
    margin-top: 30px;
}
.section-04 .img3 .inner{
    margin-left: 30px;
}
.section-04 .img3 .inner h2{
   font-size: 1.2rem;
   font-weight: 800;
}
.section-04 .img3 .inner h3{
   font-size: 1rem;
   font-weight: 700;
}
.section-04 .img3 .inner ul{
   display: flex;
   justify-content: space-between;   
}
.section-04 .img3 .inner ul li{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 8px;
}
.section-04 .img3 .inner ul li .fa-solid{
    color: rgb(255, 84, 0);
    font-size: 0.8rem;
}

/* ------------section-04----------------- finished */





/* @media (min-width: 576px){
    header{
        width: 96%;
        height: fit-content;
    }
    header .head{
        flex-direction: column;
    }
       
} */

@media only screen and (max-width: 600px) {
    header , .head-name ,.section-01 , .section-02 , .section-03 , .section-04{
        width: 96%;
        height: auto;
    }

    .hero-img ,.black , .section-01 .info-01 ,.section-01 .info-02 , .section-04 .img3 {
        height: 300px;
        margin: 0 auto;
        width: 96%;
    }
    .section-03 .grid-02 .color-02{
        margin-left: 0;
    }
    .section-04 .img3 {
        width: 96%;
        height: 350px;
    }
    .section-04 .img3 .inner{
        width: 80%;
        height: 280px;
        padding: 8px 15px;
        margin-right: 0px;
    }

     .head-main , .section-02 .grid , .section-03 .grid-02{
        width: 96%;
        height: fit-content;
        margin: 0 auto;
        grid-template-columns: repeat(1,1fr);
        margin-top: 25px;
    }
     .section-02 .head-main h2{
        font-size: 1.8rem;
    }
    .section-03 .grid-02 .grid-item{
        height: 250px;
        gap: 10px;
        padding: 15px 20px;
    }
    .section-04 .img3{
        justify-content: left;
    }
    .section-04 .img3 .inner{
        padding: 15px;
        gap: 15px;
    }

    header .head , .section-01{
        flex-direction: column;
    }
    .none{
        display: none;
    }
  }